html, body{
  height: 100%;
  margin:0;
  padding:0;
	background: aliceblue;
}
body {
	background-color:#FFFFFF;
  color:gray;
	font-size: 21px;;
}
	h1{ padding:10px;
		font-size: 50px;
		color:#3747b3;
		font-family: Cera Pro, Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

		margin-bottom: 0px;
	}

	h2{
		color: #724224;
		margin: 0px;
		padding: 10px;
	}
		h3 {
			color: #C2406B;
			margin-top: 0px;}

			h4 {
				color:chocolate;
				margin: 0px;
				font-size: 40px;
	}
	details > summary {
		padding: 4px;
		background-color:#a7dbe3;
		border: none;
		box-shadow: 1px 1px 1px #bbbbb;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		cursor:pointer;  
		color: #2f4c5c;
	}
	
	details {
		padding: 4px;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		margin-top: 0px;
		margin-bottom: 20px;
		line-height: 1.4;
		font-size: 20px;
		font-style: oblique;
		font-weight: lighter;
		text-align: left;
	}

	.book details  > summary {
		padding: 4px;
		border:none;
		background-color: #FFFFFF;
		box-shadow:0.5px;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		cursor:pointer;  
		color: #927E31;
		text-align: justify;
	
	}
	
.book details {
	width:55%;
		padding: 4px;
		background-color: #D1C698;
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		margin-top: 0px;
		margin-bottom: 20px;
		line-height: 1.4;
		font-size: 20px;
		font-style: oblique;
		font-weight: lighter;
		text-align: left;
		color:#FFFFFF;
		
	}

table.review {text-align: top; margin:0; padding: 0; color: #d1b691; background-color: ivory; width:50%;}  
table.review th, td {width:200px;padding:10px;text-align:center; border:0;}
button.review {
	background-color: white; 
	color: goldenrod; 
	border: 2px solid #cda15a; border-radius:8px; padding: 16px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;transition-duration: 0.4s;cursor: pointer;}
button.review:hover {
	background-color:#d1b691;
	color: white;}

.client1 {
	background-image: url(../img/client1.jpeg);
	background-position: center;
	background-size:cover;
	width:fit-content;
	height:fit-content;
	color: #ffffff;
	padding: 10px;

	text-align: justify;
}
.client1 {
	background-image: url(../img/client2.jpeg);
	background-position: center;
	background-size:cover;
	width:fit-content;
	height:fit-content;
	color: #ffffff;
	padding: 10px;

	text-align: justify;
}
.client2 {
	background-image: url(../img/client3.jpeg);
	background-position: center;
	background-size:cover;
	width:fit-content;
	height:fit-content;
	color: #ffffff;
	padding: 10px;

	text-align: justify;
}
.client3 {
	background-image: url(../img/client3.jpeg);
	background-position: center;
	background-size:cover;
	width:fit-content;
	height:fit-content;
	color: #ffffff;
	padding: 10px;
	margin: 10px;
	text-align: justify;
}
.bold {font-weight: bold;}
.bolder {font-weight: bolder;
text-decoration:underline;
text-transform: uppercase;}
.todo {padding:5px; color:palevioletred;}
div {width: 80%;
margin:10px;}
div.list {
	margin:0;
	width:100%;
	padding:10px;
	background-color:#edeae3;
  color: #2f4c5c;
	font-size: 21px;
}
div.list h1 {
	padding:10px;
		font-size: 30px;
		color: #C39D6D;
		font-family: Cera Pro, Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
		font-style: italic;

}
div.list h2 {
	padding:10px;
		font-size: 30px;
		color: #724224;
		font-family:  serif;
		font-style: italic;

}
ol, ol li {margin:0;}






.gtco-testimonials {
  position: relative;
  margin-top: 30px;

  h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }

  .owl-stage-outer {
    padding: 30px 0;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid #01b0f8;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #01b0f8;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }

  .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;

    .card-img-top {
      max-width: 100px;
      border-radius: 50%;
      margin: 15px auto 0;
      box-shadow: 0 8px 20px -4px #95abbb;
      width: 100px;
      height: 100px;
    }

    h5 {
      color: #01b0f8;
      font-size: 21px;
      line-height: 1.3;

      span {
        font-size: 18px;
        color: #666666;
      }
    }

    p {
      font-size: 18px;
      color: #555;
      padding-bottom: 15px;
    }
  }

  .active {
    opacity: 0.5;
    transition: all 0.3s;
  }

  .center {
    opacity: 1;

    h5 {
      font-size: 24px;

      span {
        font-size: 20px;
      }
    }

    .card-img-top {
      max-width: 100%;
      height: 120px;
      width: 120px;
    }
  }
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}

.owl-carousel {
  .owl-nav button {
    &.owl-next, &.owl-prev {
      outline: 0;
    }
  }

  button.owl-dot {
    outline: 0;
  }
}
